* {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

body {
  color: black;
  background-image: url("../public/img/globe.webp");
  background-size: cover;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

/* #content {
  top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.intro,
/* .about, */
/* .experience, */
.footer,
/* .portfolio, */
.contact {
  display: flex;
  text-align: center;
  flex-direction: column;
}

/* navigation */

.navbar {
  background-color: rgb(13 13 160);
  opacity: 0.2;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar img {
  width: 85px;
  display: inline-block;
  margin-top: 25px;
  margin-right: 15px;
  border-radius: 40%;
  margin-left: 100px;
}

.navbar-collapse .page-scroll {
  color: white;
  margin: 15px;
  font-size: 30px;
  text-decoration: none;
}

.navbar-collapse .page-scroll:hover {
  background-color: #e40f81;
  color: black;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
}

/* introduction */

.intro {
  margin-top: 30px;
  margin-bottom: 70px;
}

section .overlay {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 100px;
}

.overlay .animated {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  font-size: 60px;
  margin: 15px;
}

.overlay .subtitle {
  font-size: 40px;
}

/* about */

.container1 h2 {
  margin-left: 200px;
  margin-top: 30px;
  font-size: 40px;
}

.container1 p {
  font-weight: bolder;
  text-align: center;
  margin-left: 100px;
  margin-right: 550px;
  font-size: 25px;
}

/* experience */

.experience h2 {
  margin-top: 50px;
  font-size: 40px;
  margin-left: 60%;
  margin-right: 40%;
}

.experience p {
  font-size: 25px;
  margin-left: 50%;
  margin-right: 200px;
  font-weight: bold;
}

.skill-section {
  display: grid;
}

.experience h3 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 60%;
  margin-right: 15%;
}

.skill-section .row {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 60%;
  margin-right: 15%;
}

.row .img-responsive {
  width: 55px;
  padding: 10px;
}

/* work */

.portfolio {
  color: white;
}

.section-heading {
  margin-left: 10%;
}

.coming-soon {
  font-size: 20px;
  margin-left: 10%;
}

.project-calculator a img {
  width: 150px;
  margin-left: 10%;
}

/* contact */

.contact {
  color: white;
}

/* footer */
.footer {
  color: white;
}

.footer .socialelink {
  background-color: #86bae5;
  padding: 30px;
}

.socialelink a {
  font-size: 25px;
}
